@charset "utf-8";
#top {
 background-color:  #dcc9f4;
 width: 800px;
 margin: 20px 0 20px 0;
 margin-right: auto;
 margin-left: auto;
 text-align: center;
}
.top-child {
    background-color: #ffd9df;
    width: 20%;
    display: inline-block;
    text-align: center;  
}
#middle {
    width: 800px;
    height: 800px; 
    background-color: #ffd9df;
    margin: 20px 0 20px 0;
    margin-right: auto;
    margin-left: auto;
}
#middle-child01, #middle-child02, #middle-child03 {
    width: 200px;
    height: 200px;
    background-color: #87ceeb;
}
#middle-child01 {
    position: relative;
    top: 100px;
    left: 100px;
}
#middle-child02 {
    position: relative;
    top: 100px;
    left: 300px;
}
#middle-child03 {
    position: relative;
    top: 100px;
    left: 500px;
}
#bottom {
    width: 800px;
    height: 300px; 
    background-color: #87ceeb;
    margin: 20px 0 20px 0;
    margin-right: auto;
    margin-left: auto;
}
#bottom-child01, #bottom-child02, #bottom-child03 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
}
#bottom-child01 {
    position: relative;
}
#bottom-child02 {
    position: relative;
    left: 200px;
}
#bottom-child03 {
    position: relative;
    left: 400px;
}
